.drawing-area {
    position: absolute;
    top: 60px;
    left: 122px;
    z-index: 10;
    width: 200px;
    height: 400px;
}

.canvas-container {
    width: 200px;
    height: 400px;
    position: relative;
    user-select: none;
}

#tshirt-div {
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;
}

#canvas {
    position: absolute;
    width: 200px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}

.logo-card {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.2s;
}

.logo-card:hover {
    transform: scale(1.1);
}
.logo-card {
    margin: 5px;
    cursor: pointer;
}

#logo-selection1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#logo-selection1 .logo-card {
    flex: 1 1 calc(50% - 10px); /* 2 logos per row with 10px gap */
    background-color: #ddd;
}

#logo-selection1 img {
    width: 100%;
    height: auto;
}
#logo-selection2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#logo-selection2 .logo-card {
    flex: 1 1 calc(50% - 10px); /* 2 logos per row with 10px gap */
    background-color: #ddd;
    
}

#logo-selection2 img {
    width: 200%;
    height: auto;
}


.image-container {
    display: inline-block;
    margin: 10px;
    

}