.drawing-area {
    position: absolute;
    top: 60px;
    left: 122px;
    z-index: 10;
    width: 200px;
    height: 400px;
}

.canvas-container {
    width: 200px;
    height: 400px;
    position: relative;
    user-select: none;
}

#tshirt-div {
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;
}

#canvas {
    position: absolute;
    width: 200px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}

.logo-card {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.2s;
}

.logo-card:hover {
    transform: scale(1.1);
}
.logo-card {
    margin: 5px;
    cursor: pointer;
}

#logo-selection1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#logo-selection1 .logo-card {
    flex: 1 1 calc(50% - 10px); /* 2 logos per row with 10px gap */
    background-color: #ddd;
}

#logo-selection1 img {
    width: 100%;
    height: auto;
}
#logo-selection2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#logo-selection2 .logo-card {
    flex: 1 1 calc(50% - 10px); /* 2 logos per row with 10px gap */
    background-color: #ddd;
    
}

#logo-selection2 img {
    width: 200%;
    height: auto;
}


.image-container {
    display: inline-block;
    margin: 10px;
    

}


/* Hoodie designing */
#hoodie-backgroundpicture{
    position: relative;
}
#hoodie-backgroundpicture img {
    position: absolute;
    top: 0;
    left: 0;
    
}

#hoodie-div {
    width: 550px;
    height: 548px;
    position: relative;
    background-color: #fff;
}
.hoodie-drawing-area {
    position: absolute;
    top: 110px;
    left: 122px;
    z-index: 10;
    width: 200px;
    height: 400px;
}



/** Totebag designing */ 

#totebag-backgroundpicture img {
    position: absolute;
    top: 0;
    left: 0;
  
}

#totebag-div {
    width: 550px;
    height: 548px;
    position: relative;
    background-color: #fff;
}
.totebag-drawing-area {
    position: absolute;
    top: 250px;
    left: 125px;
    z-index: 10;
    width: 100px;
    height: 100px;
}


/** Raincoat designing */ 

#raincoat-backgroundpicture img {
    position: absolute;
    top: 0;
    left: 0;
   
}

#raincoat-div {
    width: 550px;
    height: 548px;
    position: relative;
    background-color: #fff;
}
.raincoat-drawing-area {
    position: absolute;
    top: 150px;
    left: 170px;
    z-index: 10;
    width: 100px;
    height: 100px;
}


/** Jacket designing */ 

#jacket-backgroundpicture img {
    position: absolute;
    top: 0;
    left: 0;
   
}

#jacket-div {
    width: 550px;
    height: 548px;
    position: relative;
    background-color: #fff;
}
.jacket-drawing-area {
    position: absolute;
    top: 70px;
    left: 130px;
    z-index: 10;
    width: 100px;
    height: 100px;
}


/** Cap designing */ 

#cap-backgroundpicture img {
    position: absolute;
    top: 0;
    left: 0;
   
}

#cap-div {
    width: 550px;
    height: 548px;
    position: relative;
    background-color: #fff;
}
.cap-drawing-area {
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 10;
    width: 100px;
    height: 100px;
}


/** Sweater designing */ 

#sweater-backgroundpicture img {
    position: absolute;
    top: 0;
    left: 0;
   
}

#sweater-div {
    width: 550px;
    height: 548px;
    position: relative;
    background-color: #fff;
}
.sweater-drawing-area {
    position: absolute;
    top: 150px;
    left: 130px;
    z-index: 10;
    width: 100px;
    height: 100px;
}