.drawing-area {
    position: absolute;
    top: 150px;
    left: 122px;
    z-index: 10;
    width: 200px;
    height: 400px;
}

.canvas-container {
    width: 200px;
    height: 400px;
    position: relative;
    user-select: none;
}

#tshirt-div {
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;
}

#canvas {
    position: absolute;
    width: 100px;
    height: 300px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}

.logo-card {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.2s;
    height: 60px;
    width: 200px;
}

.logo-card:hover {
    transform: scale(1.1);
}

#logo-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#logo-selection .logo-card {
    background-color: #ece9e9;
}

#logo-selection img {
    width: 100%;
    height: auto;
    background-color: #d6d4d4;
}

/* Onam starts here */

.logo-card-onam {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.2s;
    height: 240px;
    width: 200px;
}

.logo-card-onam:hover {
    transform: scale(1.1);
}

#logo-selection-onam {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#logo-selection-onam .logo-card {
    background-color: #ece9e9;
}

#logo-selection-onam img {
    width: 100%;
    height: auto;
    background-color: #d6d4d4;
}
/* Onam ends here */

.button-design {
    background-color: #ffffff; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.btn-white {
    background-color: white; 
    color: black; 
    border: 2px solid #dfdfdf;
}

.btn-white:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.btn-black {
    background-color: black; 
    color: white; 
    border: 2px solid black;
}

.btn-black:hover {
    background-color: rgb(255, 255, 255); /* Pure white */
    color: black;
}

.btn-blue {
    background-color: rgb(3, 104, 199); 
    color: white; 
    border: 2px solid rgb(3, 104, 199);
}

.btn-blue:hover {
    background-color: #ffffff;
    color: black;
}

.btn-green {
    background-color: rgb(17, 140, 3); 
    color: white; 
    border: 2px solid rgb(17, 140, 3);
}

.btn-green:hover {
    background-color: white;
    color: black;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.delete-icon {
    align-self: flex-start;
}

.color-buttons {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.color-buttons button {
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.color-buttons button:hover {
    filter: brightness(80%);
}

.add-to-cart {
    border: none;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
